In [22]:
import pandas as pd
import numpy as np

In [50]:
#displaying dataframe
ds=pd.read_csv("C:\\Users\\Shruti\\Desktop\\ML\\Assignment5.csv",names=['employee','Manager'])
ds

  employee Manager
0      Ram   Shyam
1    Shyam   Harry
2    Harry    Lucy
3     Lucy    Shiv
4     Shiv    Shiv
5     Jake    Hana
6     Hana   Beast
7    Beast   Beast
8    Shady   Shady
9      Nox     Nox

In [51]:
temp=[]
dict=[]
i=0 
while(i<5):
    j=i
    while(1):
        temp.append(ds.loc[j]['employee'])
        if(ds.loc[j]['employee'] == ds.loc[j]['Manager']):
            dict.append(temp)
            temp=[]
            j+=1
            break
        j +=1
    i+=1
ds=pd.DataFrame(dict)
ds.fillna(" ")

       0      1      2     3     4
0    Ram  Shyam  Harry  Lucy  Shiv
1  Shyam  Harry   Lucy  Shiv
2  Harry   Lucy   Shiv
3   Lucy   Shiv
4   Shiv